Flake8-pyproject
flake8
flake8-quotes
flake8-pytest-style
flake8-type-checking
flake8-annotations
flake8-broken-line
flake8-eradicate
flake8-fixme
flake8-bugbear
flake8-datetimez
flake8-no-pep420
flake8-comprehensions 
flake8-leading-blank-lines
flake8-tidy-imports
flake8-pyi