# Checkpoint requirements.txt compilation
ozi/dist/* @OZI-Project/dist @OZI-Project/cd
ozi/lint/* @OZI-Project/lint
ozi/test/* @OZI-Project/test @OZI-Project/qa

# Python unit tests
tests/*.py @OZI-Project/qa

# Vendored libraries
ozi/vendor/* @OZI-Project/fork

# GitHub workflow templates
ozi/templates/github_workflows/checkpoint.yml.j2 @OZI-Project/checkpoint
ozi/templates/github_workflows/release.yml.j2 @OZI-Project/release
ozi/templates/github_workflows/publish.yml.j2 @OZI-Project/publish
ozi/templates/github_workflows/generate_provenance.yml.j2 @OZI-Project/slsa
