# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:

  - package-ecosystem: github-actions
    open-pull-requests-limit: 6
    directory: /
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/.clusterfuzzlite"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:(cflite):"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: pyyaml-ft
    directories:
      - "/"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/dist/cibuildwheel"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/dist/semantic_release"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/dist/sigstore"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/dist/twine"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/bandit"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/black"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/flake8"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/isort"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/mypy"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/pyright"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/lint/readme-renderer"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/test/coverage"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: pip
    open-pull-requests-limit: 10
    directories:
      - "/ozi/test/pytest"
    schedule:
      interval: daily
    commit-message:
      prefix: ":arrow_up:"

  - package-ecosystem: docker
    directory: /.clusterfuzzlite
    schedule:
      interval: daily
