{% set license_template = project.license.split('::')|map('trim')|map('underscorify')|join('/') %}
{% set path = ['license', license_template, project.license_expression.split(' ')[0]|lower ~ '.txt']|join('/') %}
{% include path %}