{{ project.name }}
{{ project.copyright_head }}

This software includes packaging files developed as part of the OZI project
distributed under the terms of the Apache-2.0 License.
Copyright 2023, Ross J. Duff, MSc