{#- OZI 0.1
# ozi/templates/ozi.wrap.j2
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
{%- set project_url='https://github.com/rjdbcm/OZI/archive/refs/tags/' -%}
{%- set source_url=project_url~ozi.version~'.tar.gz' -%}
[wrap-file]
directory = ozi-{{ ozi.version }}
source_url = {{ source_url }}
source_filename = ozi-{{ ozi.version }}.tar.gz
source_hash = {{ source_url|sha256sum }}
patch_directory = ozi

[provide]
ozi = ozi_dep
