{#- OZI 0.1
# ozi/templates/ozi.wrap.j2
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
[wrap-file]
directory = ozi-{{ ozi.version }}
source_url = {{ 'https://github.com/rjdbcm/OZI/archive/refs/tags/'~ozi.version~'.tar.gz' }}
source_filename = ozi-{{ ozi.version }}.tar.gz
source_hash = {{ ozi.version|sha256sum }}
patch_directory = ozi

[provide]
ozi = ozi_dep
