{%- set numchar = project.name|length -%}
{%- for c in range(numchar) -%}
*
{%- endfor -%}
{{ project.name }}
{%- for c in range(numchar) -%}
*
{%- endfor -%}

.. image:: https://raw.githubusercontent.com/sigstore/community/main/artwork/badge/sigstore_codesigned_purple.png
 :align: right
 :height: 140
 :target: https://www.sigstore.dev/
