{#- OZI 0.1
# ozi/templates/semantic_release.pyproject.toml
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
[tool.semantic_release]
commit_parser                  = "{{ spec.python.pkg.version.semantic }}"
major_on_zero                  = false
tag_format                     = "{{ spec.python.src.format.version_placeholder }}"

[tool.semantic_release.branches.main]
match = "(main|master)"
prerelease_token = "beta"
prerelease = false

[tool.semantic_release.commit_parser_options]
major_tags = [
{%- for tag in spec.python.pkg.version.major_tags %}
    "{{ tag }}",
{%- endfor %}
]
minor_tags = [
{%- for tag in spec.python.pkg.version.minor_tags %}
    "{{ tag }}",
{%- endfor %}
]
patch_tags = [
{%- for tag in spec.python.pkg.version.patch_tags %}
    "{{ tag }}",
{%- endfor %}
]

[tool.semantic_release.changelog]
changelog_file = "CHANGELOG.md"
exclude_commit_patterns = ["Merge.*"]

[tool.semantic_release.remote]
type = "{{ project.ci_provider }}"

[tool.semantic_release.publish]
dist_glob_patterns = [
{%- for include in spec.python.ci.publish.include %}
    "{{ include }}",
{%- endfor %}
]
upload_to_vcs_release = true