{#- OZI 0.1
# ozi/templates/tox.pyproject.toml
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = True
envlist = {{ spec.python.support.security|wheel_repr }},{{ spec.python.support.bugfix2|wheel_repr }},{{ spec.python.support.bugfix1|wheel_repr }}

[gh]
python =
   {{ spec.python.support.bugfix1 }} = {{ spec.python.support.bugfix1|wheel_repr }}
   {{ spec.python.support.bugfix2 }} = {{ spec.python.support.bugfix2|wheel_repr }}
   {{ spec.python.support.security }} = {{ spec.python.support.security|wheel_repr }}

[testenv]
package = wheel
deps =
{%- for requires in spec.python.build.requires.values() %}
   {{ requires }}
{%- endfor %}
commands =
   meson setup {env_tmp_dir} -D{posargs}=enabled --reconfigure
   meson compile -C {env_tmp_dir}
   rm -rf {env_tmp_dir}/.gitignore
   pip install -q .
   meson test --no-rebuild --maxfail=1 -C {env_tmp_dir} --setup={posargs}
"""