{#- OZI 0.1
# ozi/templates/github_workflows/ozi.yml.j2
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
{%- for line in project.copyright_head.split('\n') %}
{{ '# ' ~ line }}
{%- endfor %}
{{ '# Additional copyright and license terms apply, see NOTICE for details.' }}
name: OZI

on:
  push:
    branches:
      - main

jobs:

{% include 'github_workflows/checkpoint.yml.j2' %}

{% include 'github_workflows/release.yml.j2' %}

{% include 'github_workflows/publish.yml.j2' %}