{#- OZI 0.1
# ozi/templates/github_workflows/release.yml
# Part of the OZI Project, under the Apache License v2.0 with LLVM Exceptions.
# See LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception
-#}
      - name: Install test dependencies
        if: matrix.ozi == 'test'
        run: |
          python -m pip install coverage[toml]
          python -m pip install hypothesis[all] 
          python -m pip install pytest 
          python -m pip install pytest-asyncio 
          python -m pip install pytest-cov 
          python -m pip install pytest-randomly 
          python -m pip install pytest-tcpclient 
          python -m pip install pytest-xdist
          python -m pip install -r requirements.txt
      - name: Pytest
        if: matrix.ozi == 'test'
        run: |
          python -m pip install .
          pytest --cov-config=pyproject.toml --cov={{ project.name|underscorify }} -n auto -d tests/*.py --basetemp=temp