name: OZI Checkpoint-only

on:
  push:
    branches:
      - 'dev*'
      - 'dev/**'

permissions:
  contents: read

jobs:
  checkpoint:
    name: OZI ${{ matrix.ozi }} with ${{ matrix.py }} on ${{ matrix.os }}
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        ozi:
          - dist
          - lint
          - test
        os:
          - ubuntu-latest
        py:
          - '3.10'
          - '3.11'
          - '3.12'
      fail-fast: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            oziproject.dev:443
            pypi.org:443
            registry.npmjs.org:443

      - uses: OZI-Project/checkpoint@52b74310d31ed92dbc8193d3d2a1027373cf64da
        with:
          python-version: ${{ matrix.py }}
          suite: ${{ matrix.ozi }}